<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments :: header"></div>

<table>
    <tr>
        <th>Jaar</th>
        <th>Jan</th><th>Feb</th><th>Mar</th><th>Apr</th><th>Mei</th><th>Jun</th><th>Jul</th><th>Aug</th><th>Sep</th><th>Okt</th><th>Nov</th><th>Dec</th>
    </tr>
    <tr th:each="data : ${regenData}">
        <td th:text="${data.jaar}"></td>
        <td th:text="${data.jan}"></td>
        <td th:text="${data.feb}"></td>
        <td th:text="${data.mrt}"></td>
        <td th:text="${data.apr}"></td>
        <td th:text="${data.mei}"></td>
        <td th:text="${data.jun}"></td>
        <td th:text="${data.jul}"></td>
        <td th:text="${data.aug}"></td>
        <td th:text="${data.sep}"></td>
        <td th:text="${data.okt}"></td>
        <td th:text="${data.nov}"></td>
        <td th:text="${data.dec}"></td>
    </tr>
</table>

<div th:replace="fragments :: footer"></div>
</body>
</html>